html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: #fff;
  font-family: merriweather, serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  width: 33%;
}

header {
  color: #fff;
  background-color: #d05c2e;
  line-height: 1.5;
}

img {
  max-width: 40px;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: .5rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
